@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
/*Color Platte : #59981A,#81B622,#ECF87F,#59981A*/

body {
  margin: 0px;
  padding: 0px;
  font-family: "Dela Gothic One", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ecf87f;
}

.navbar {
  text-align: center;
  font-size: 3.5em;
}

.heading {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: space-around;
  background-color: #59981a;
  color: white;
  margin-top: 5px;
}

.heading button {
  font-size: 2.5em;
}

.game-section {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}

.gameing {
  display: flex;
  flex-grow: 9999;
  flex-direction: column;
  align-items: center;
  min-width: 45%;
}

.starting-block {
  background-color: lightgreen;
}

.ending-block {
  background-image: url(./images/stone.png);
  background-size: 3.5em;
  background-repeat: no-repeat;
  background-color: lightgreen;
}

.start-point {
  background-image: url(./images/start-point.png);
  background-size: 3.5em;
  background-repeat: no-repeat;
}

.game-control {
  margin: 1em;
}

#start-pause {
  background-color: #59981a; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: inherit;
  display: inline-block;
  padding: 1em 2em;
  font-size: 1.25rem;
  border-radius: 1em;
}

.game-board {
  display: flex;
  flex-wrap: wrap;
  border: solid black;
  width: 31.5em;
  height: 31.5em;
  border-radius: 1em;
  padding: 15px 0px 15px 0px;
  margin: 20px;
  background-color: lightgreen;
}

.game-board div {
  height: 3.5em;
  width: 3.5em;
}

.game-info {
  flex-grow: 1;
  display: flex;
  min-width: 45%;
  margin: 10px;
  padding: 0.5em;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
  border: solid black;
  border-radius: 2em;
}

.grass {
  background-image: url(./images/grass.png);
  background-size: 3.5em;
  background-repeat: no-repeat;
  background-color: lightgreen;
}

/*Wood Logs are l1,l2 and l3*/
.l1,
.l2,
.l3 {
  background-image: url(./images/wood-log.png);
  background-size: 3.5em;
  background-repeat: no-repeat;
  background-color: lightblue;
}

/*l4,l5 are river*/
.l4,
.l5 {
  background-color: lightblue;
  background-image: url(./images/river.png);
  background-size: 3.5em;
  background-repeat: no-repeat;
}

/*c2,c3,c4 are the road elements*/
.c2,
.c3,
.c4 {
  background-image: url(./images/road.png);
  background-size: 3.5em;
  background-repeat: no-repeat;
  background-color: lightgray;
}

/*c1 is the Car element*/
.c1 {
  background-image: url(./images/car.png);
  background-size: 3.5em;
  background-repeat: no-repeat;
  background-color: lightgray;
}

.frog {
  background-image: url(./images/frog.png);
  background-size: 3.5em;
  background-repeat: no-repeat;
}

.footer {
  display: none;
  color: red;
  margin-left: 10px;
}

@media screen and (max-width: 450px) {
  .footer {
    display: block;
  }

  .heading,
  .game-section {
    display: none;
  }
}

@media screen and (max-height:850px) {
  body{
    font-size: 80%;
  }
}
